# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

* List popular languages for Data Science
* List Popular libraries used by Data Scientists
* Graph of Data Science Tools
* Examples For arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matpotlib

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|RStuio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers.

In [2]:
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.

In [5]:
200 /60

3.3333333333333335

## Author
Dinusha Fernando